*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.marker-app {
    width: 100%;
    max-width: 500px;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
}

.score {
    display: flex;
    margin-bottom: 30px;
}

.score__text {
    height: 50px;
    width: 100px;
    text-align: center;
    margin-right: 30px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #9d9d9d;
    border: 1px solid #9d9d9d;
}

.score__message {
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #9d9d9d;
}

.marker {
    display: flex;    
    justify-content: space-between;
    margin-bottom: 30px;
}

.marker__area{
    width: 202px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #ccc;
}
  
.marker-item {
    height: 50px;
    width: 20px;
    background-color: #737dce;
    border: 1.5px solid #fff;
}

.marker__full,
.marker__step {
    width: 60px;
    height: 50px;
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    border: 1px solid #fff;
    outline: none;
    background-color: #737dce;
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
    border: 0;
}

.marker__full {
    background: url('https://cdn0.iconfinder.com/data/icons/thin-design-drawing/24/thin-0688_paint_bucket_color-512.png') no-repeat;
    background-size: contain;
}

.marker__step {
    background: url('https://mpng.subpng.com/20180413/xoq/kisspng-computer-icons-drop-clip-art-drop-water-5ad14c55d5d054.5312980715236660058758.jpg') no-repeat;
    background-size: contain;
}

.bg {
    display: flex;
}

.bg__item {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.bg__item_blue {
    background-color: #737dce;
}
.bg__item_green {
    background-color: #45a977;
}

.bg__item_red{
    background-color: #fb3e3e;
} 

.container-wright-area {
    display: flex;    
    width: 250px;
}

.wright-area {
    padding: 15px 15px;
    color: #737dce;;
}